
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    max-width: 100%;
    background-color: black;
    color: white;
    
  }
  
  
  /* Header Section */
  header{
    background-color: black;
    color: #fff;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    z-index: 999;
    bottom: 10px;
    
    
  }
  
  header .logo{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 750;
    margin: 10px;
    letter-spacing: -2px;
    color: orange;
    background-color: black;
  }
  sup{
    font-size: 20px;
    
  }
  header .navigation a{
    color: #fff;
    text-decoration: none;
    font-weight: 750;
    letter-spacing: 1px;
    padding: 7.5px ;
    border-radius: 2px;
    align-content: center; 
    text-transform: uppercase;
    position: relative;
    
  }
  
  header .navigation a:hover{
    background: orange;
    transform: scale(1.5);
  }


  header .social{
    display: block; 
    text-align: center; 
    padding: 8px; 
    color: rgb(255, 255, 255); 
    font-size: 20px;
    background-color: rgb(0, 0, 0); 
  }
  header .social a {
    display: inline-block;
    border-left: 1px solid white;
    padding: 0 8px;
  }

  header .social input {
    color: black;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
    font-size: 20px;
    padding: 8px;
    width: 150px;
  }
  
  header .social a:first-child {
    border-left: none;
  }

  .menu-btn::before {
    display: inline-block;
    border-left: 1px solid rgb(255, 255, 255);
    padding: 0 8px;
    margin-left: -13px;
    height: 23px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-transform: uppercase;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    right: 0px;
    top: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown a {
    color: white;
    padding: 0px;
    text-decoration: none;
    display: block;
  }
  
  

/* End of Header Section*/

/* banner classes  */

/* .banner-section {

} */
.banner-section{
    height: 710px;
    width: 100%;
    background-color: #191919;
}

.banner-cont {
    position: relative;
    top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 650px;
    padding: 50px;
    left: 3%;
    background-image: url('https://wallpaperset.com/w/full/e/3/5/411858.jpg');
    background-size: cover;
    border: 2px solid orange;
    border-radius: 25px;
    text-transform: uppercase;
    flex-direction: column;
    
    
}

.banner-cont h1{
     position: absolute;
     top: 30%;
     background-color: transparent;
     color: orange;
     
}

  
.banner-cont p{
  position: absolute;
  top: 38%;
  background-color: transparent;
  font-weight: bolder;
  
  
}



.banner-cta {
    position: absolute;
    min-width: 200px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    background: #dee5eb;
    border-radius: 10px;
    transition: .3s ease-in-out all;
    overflow: hidden;
    
}
.banner-cta a{
  color: black !important;
  background-color: transparent;
}

.banner-cta:hover {
    background-color: #ffffff;
    cursor: pointer;
    
}

  
  /* stickyicon */
  .stickyicon-list { 
    position: fixed; 
    bottom: 20px; 
    right: 7.5px; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    
  }
        
  .stickyicon-list a{ 
    display: block; 
    text-align: center; 
    padding: 8px; 
    font-size: 20px;
    background-color: rgb(0, 0, 0); 
    transition: transform 0.1s;
  }       
  
  .stickyicon-list a:hover { 
  
    transform: translateX(-10px) scale(1.1);
  }

  /*About section*/
  .about{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
    border-radius: 5px 5px 5px 5px;
    width: auto; 
    height: 450px;
    background-color: black;
   
   }
   
   .about img {
     margin: 20px 20px 20px 75px;
     width: 450px;
     height: 400px;
     float: left;
     object-fit: cover;
     border-radius: 0px 25px 0px 25px;
     transform: scaleX(-1);
     
     
   }

   .about-info {
    padding: 20px 20px 10px 30px;
    float: left;
    height: 400px;
     margin: 20px;
     background-color: transparent;
   }
   .about-info p{
    font-family: AnonymousPro, Monospace, sans-serif; 
    width: 700px;
   }
   .about-info h1{
    font-family: AnonymousPro, Monospace, sans-serif; 
    text-align: center;
    color: orange;
    text-transform: uppercase;
   }

/*About section end*/

/* image container section */
  .image{
    background-color: #191919;
    width: 100%;
    
  }
  .container {
    box-sizing: border-box;
    width: 95%;
    margin-left: 3%;
    align-items: center;
    justify-content: center;
    box-decoration-break: slice;
    background-color:  #191919;
    
    

 }
 .container h1{
  color: orange;
  text-align: center;
  text-transform: uppercase;
 
    

 }
 .container-inside {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
 }

 .card {
   width: 400px;
   height: 250px;
   background-color: #e6e6e6;
   border-radius: 10px;
   display: inline-block;
   margin: 20px;
   text-align: center;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
  
 }
 .card:hover {
  transform: scale(1.2);
}

 .card img {
   width: 100%;
   height: 250px;
   border-radius: 10px 10px 0 0;
   image-resolution: auto;
 }

 h3 {
   padding: 10px;
   margin: 0;
 }

 /* image container section end */
 /* video container section end */

 .video-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: black;
}
.video-container h1{
  color: orange;
  padding: 10px;
  
}

.video {
  width: 90%;
  height: 50%;
  margin: 10px;
  border: 2px solid #191919;
}
 /* video container section end */
  /* subscription classes  */
.subscribe-section {
    background-color: #191919;
    padding: 10px 10px;
    height: 85vh;
    color: white;
}
.subscribe-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    /* background: rgba(85,90,78,.7); */
    border-radius: 50px;
    max-width: 1440px;
    width: 80%;
    margin: auto;
    height: 80vh;
    overflow: hidden;
}

.subscribe-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-cart h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .02em;
    text-indent: 0.02em;
    text-transform: uppercase;
    color: white !;
    text-align: center;
    color: orange;
   
}

.form {
    position: relative;
    padding-block: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
    
}




option {
    background-color: #191919;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.subscribe-cat {
  position: absolute;
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #000 !important;
  font-size: 14px;
  font-weight: 700;
  background: #dee5eb;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 10px;
  overflow: hidden;
  opacity: 1 !important;
  transition: .3s ease-in-out all;
  z-index: 2;
  line-height: initial;
  width: 200px;
  left: 30%;
  
}

.subscribe-cat:hover {
    background-color: #ffffff;
    cursor: pointer;
}


  /* footer  */
footer {
    
    color: white;
    padding: 10px;
    height: 50px; 
    
    
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: 10px;
    
}

.footer-icon i {
    cursor: pointer;
}

.footer-icon a {
    font-weight: 750;
    color: white;
    cursor: pointer; 
}
   
