@media only screen and (max-width: 767px) {
    header {
        flex-direction: column;
        height: 110px;
        padding: 10px;
       
    }

    header .navigation a {
        padding: 5px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
    }

    
    .banner-section {
      height: 400px;
      margin-top: 100px;
    }
    
    .banner-cont {
      top: 35px;
      height: 350px;
      padding: 20px;
      left: 0;
      width: 100%;
      border-radius: 0;
    }
    
    .banner-cta {
      top: 20px;
      right: 0;
      max-width: 50px;
    }
  
    .about {
        width: 95%;
    }
    .subscribe-section {
        height: auto;
      }
      .subscribe-cont {
        height: 550px;
        flex-direction: column;
        width: 90%;
      }
      .form {
        width: 100%;
      }
      .subscribe-cat {
        left: 28%;
        width: 150px;
      }
    
    
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .footer-icon a{
        font-weight: 100;
    }
    }
  
